<div class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="showRouting">
  <a class="nav-link" [routerLink]="['view-courses']">View Courses</a>
  <a class="nav-link" [routerLink]="['upload-course']">Create Course</a>
  <button class="nav-link" (click)="Logout()">Logout</button>
</div>
<br>
<router-outlet></router-outlet>

<div *ngIf="showRouting==false">
  <form method="post" *ngIf="showLogin">
    <label>Username</label>
    <input type="text" class="form-control" [(ngModel)]="user.username" name="username"/><br>
    <label>Password</label>
    <input type="password" class="form-control" [(ngModel)]="user.password" name="password"/>
    <button (click)="Login()" class="btn btn-primary">Login</button>
  </form>

  <button (click)="RegistrationForm()" *ngIf="showLogin">Don't have an account?</button>

  <form method="post"  (ngSubmit)="ValidateRegistration()" *ngIf="showRegister">
    <label>Username</label>
    <input type="text" class="form-control" [(ngModel)]="registration.username"  name="username"/>
    <span class="text-danger" *ngIf="result.usernameMessage!=''">{{result.usernameMessage}}</span><br>
    <label>Password</label>
    <input type="password" class="form-control"  [(ngModel)]="registration.password" name="password"/>
    <span class="text-danger" *ngIf="result.passwordMessage!=''">{{result.passwordMessage}}</span><br>
    <label>Confirm Password</label>
    <input type="password" class="form-control" [(ngModel)]="registration.confirmpassword" name="password"/>
    <span class="text-danger" *ngIf="result.confirmPasswordMessage!=''">{{result.confirmPasswordMessage}}</span><br>
    <label>E-mail</label>
    <input type="email" class="form-control" [(ngModel)]="registration.email" name="email"/>
    <span class="text-danger" *ngIf="result.emailMessage!=''">{{result.emailMessage}}</span><br>
    <input type="submit" class="btn btn-primary" value="Register"/>
  </form>

  <button (click)="LoginForm()" *ngIf="showRegister">Already have an account? Sign in</button>
</div>
