<div *ngIf="showRouting">
  <div class="navbar navbar-expand-lg navbar-light bg-light" >
    <a class="nav-link" [routerLink]="['view-courses']">View Courses</a>
    <a *ngIf="user.type=='Teacher'" class="nav-link" [routerLink]="['upload-course']">Create Course</a>
    <button class="nav-link btn btn-danger" (click)="Logout()">Logout</button>
  </div>


  <router-outlet></router-outlet>
</div>
<br>

<div *ngIf="showRouting==false" id="authenticationContainer">
  <form method="post" *ngIf="showLogin">
    <label>Username</label>
    <input type="text" class="form-control" [(ngModel)]="user.username" name="username"/><br>
    <label>Password</label>
    <input type="password" class="form-control" [(ngModel)]="user.password" name="password"/><br>
    <button (click)="Login()" class="btn btn-primary">Login</button>
  </form>
<br>
  <a (click)="RegistrationForm()" *ngIf="showLogin" class="link">Don't have an account?</a>

  <form method="post"  (ngSubmit)="ValidateRegistration()" *ngIf="showRegister">
    <label>Username</label>
    <input type="text" class="form-control" [(ngModel)]="registration.username"  name="username"/>
    <span class="text-danger" *ngIf="result.usernameMessage!=''">{{result.usernameMessage}}</span><br>
    <label>Password</label>
    <input type="password" class="form-control"  [(ngModel)]="registration.password" name="password"/>
    <span class="text-danger" *ngIf="result.passwordMessage!=''">{{result.passwordMessage}}</span><br>
    <label>Confirm Password</label>
    <input type="password" class="form-control" [(ngModel)]="registration.confirmpassword" name="password"/>
    <span class="text-danger" *ngIf="result.confirmPasswordMessage!=''">{{result.confirmPasswordMessage}}</span><br>
    <label>E-mail</label>
    <input type="email" class="form-control" [(ngModel)]="registration.email" name="email"/>
    <span class="text-danger" *ngIf="result.emailMessage!=''">{{result.emailMessage}}</span><br>
    <label>Select account type</label>
    <select [(ngModel)]="registration.type" name="type" class="form-control" required="true">
      <option *ngFor="let t of accountTypes" [ngValue]="t.value" >{{t.text}}</option>
    </select>
    <br>
    <input type="submit" class="btn btn-primary" value="Register"/>
  </form>
  <br>
  <a (click)="LoginForm()" *ngIf="showRegister" class="link">Already have an account? Sign in</a>
</div>
