<form>
  <label>Title</label>
  <input class="form-control" type="text" [(ngModel)]="title" name="naziv" required="true"/>
  <span *ngIf="showError==true && (title==undefined ||title =='')" class="text-danger">Required field</span><br>
  <label>Description</label>
  <input class="form-control" type="text" [(ngModel)]="description" name="opis" required="true" />
  <span *ngIf="showError==true && (description==undefined ||description =='')" class="text-danger">Required field</span><br>

  <img *ngIf="this.imageDisplay!=undefined" src="{{appFilePath+imageDisplay}}" width="250px" height="auto" />
  <br><br>
  <input type="file" class="file-input" (change)="imageUpload($event)" name="file">
  <span *ngIf="showError==true && (file!=undefined ||file.size>10485760)" class="text-danger">Image must not be larger than 10MB</span><br>
  <br>

  <button (click)="onUpload()"
          class="btn btn-success">
    Upload
  </button>
</form>
