<div  id="mainContainer">
  <table>
    <tr>
      <td>
        <img *ngIf="courseDetails.imageDisplay!=undefined" src="{{appFilePath + courseDetails.imageDisplay}}" width="500px" height="auto"/>
      </td>
      <td id="descriptionContent">
        <h1 *ngIf="courseDetails.title!=undefined">{{courseDetails.title}}</h1>
        <br>
        <p *ngIf="courseDetails.description!=undefined"><b>Description: </b> {{courseDetails.description}}</p>
      </td>
    </tr>
  </table>

<br>

Filter lesson title: <input class="form-control-sm" [(ngModel)]="filterNaziv"/>
<button class="btn btn-primary"(click)="SearchButton()">Search</button>
  <button id="addNewBtn" class="btn btn-primary" *ngIf="courseDetails.adminMode==true" [routerLink]="['/upload-lesson', this.courseID]">Add new lesson</button>

<div id="lessonsContainer">
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Title</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let i of filterLessons()">
      <td>{{i.title}}</td>
      <td style="float:right">
        <a class="button btn btn-primary" [routerLink]="['/lesson-details', i.lessonId]">Details</a> |
        <button class="btn btn-info" *ngIf="courseDetails.adminMode==true" [routerLink]="['/edit-lesson', i.lessonId]">Edit</button>
        <button class="btn btn-danger" *ngIf="courseDetails.adminMode==true" (click)="DeleteLesson(i)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>

  <ngb-pagination [collectionSize]="colSize" [pageSize]="itemsPerPage" [(page)]="currentPage" [maxSize]="colSize" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)">
  </ngb-pagination>
</div>
</div>

