<h1 *ngIf="courseDetails.title!=undefined">{{courseDetails.title}}</h1>
<img *ngIf="courseDetails.imageDisplay!=undefined" src="{{courseDetails.imageFromBlob}}" width="500px" height="auto"/>
<p *ngIf="courseDetails.description!=undefined"><b>Description: </b> {{courseDetails.description}}</p>
<br>

Filter lesson title: <input [(ngModel)]="filterNaziv" />
<button (click)="SearchButton()">Search</button><button [routerLink]="['/upload-lesson', this.courseID]">Add new lesson</button>

<div>
  <table>
    <thead>
    <tr>
      <th>Title</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let i of filterLessons()">
      <td>{{i.title}}</td>
      <td>
        <a class="button" [routerLink]="['/lesson-details', i.lessonId]">Details</a> |
        <button [routerLink]="['/edit-lesson', i.lessonId]">Edit</button>
        <button (click)="DeleteLesson(i)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>

  <ngb-pagination [collectionSize]="colSize" [pageSize]="itemsPerPage" [(page)]="currentPage" [maxSize]="colSize" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)">
  </ngb-pagination>
</div>

